@font-face {
    font-family: 'NotoSansKR';
    src: url("../font/NotoSansKR-Regular.otf");
}

@font-face {
    font-family: 'titleE';
    src: url(../font/BRITANIC.TTF);
}

@font-face {
    font-family: "굴림";
}

@font-face {
    font-family: Arial, Helvetica, sans-serif;
}


* {
    font-family: 'NotoSansKR';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    word-break: break-all;
}

::-webkit-input-placeholder {
    /* Edge */
    color: #fff;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

::placeholder {
    color: #fff;
}


/*라이브러리*/



ul,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.cell {
    float: left;
}

.cell-r {
    float: right;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.con {
    max-width: 1280px;
    margin: 0 auto;
}

.title-txt {
    font-size: 4rem;
}

.title-b-txt {
    font-size: 1.6rem;
}



.all-wrap {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.big {
    margin: 0 auto;
    padding: 10%;
}


.fit {
    object-fit: cover;
}




/*업버튼*/
.up-btn {
    width: 30px;
    height: 30px;
    background-color: #83ac48;
    top: 90%;
    right: 1%;
    position: fixed;
    cursor: pointer;
    border-radius: 50%;
    z-index: 99;
    opacity: 0;
    transition: 1s;
    visibility: hidden;
}

.up-btn img {
    width: 60%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

/*메뉴*/

.all-wrap .menu-wrap {
    width: 100%;
    height: 1.3%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    border-bottom: 2px solid white;
    z-index: 95;
}

.all-wrap .menu-wrap .menu-box {
    width: 50%;
    height: 100%;
    position: relative;
}

.all-wrap .menu-wrap .menu-box .b-box {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden
}

.all-wrap .menu-wrap .menu-box .b-box img {
    width: 100%;
    cursor: pointer;
}

.all-wrap .menu-wrap .menu-box .logo-box {
    width: 25%;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.all-wrap .menu-wrap .menu-box .logo-box img {
    width: 100%;
    cursor: pointer;
}

.all-wrap .menu-wrap .menu-box .list-box {
    width: 55%;
    margin-left: 82px;
    height: 100%;
}

.all-wrap>.menu-wrap>.menu-box>.list-box>ul {
    width: 115%;
    line-height: 60px;
    color: white;
}

.all-wrap>.menu-wrap>.menu-box>.list-box>ul>li {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 44px;
    position: relative;
}

.all-wrap>.menu-wrap>.menu-box>.list-box>ul>li:last-child {
    margin-right: 0;
}

.all-wrap>.menu-wrap>.menu-box>.list-box>ul>li>a {
    font-size: 1.35rem;
}


.all-wrap>.menu-wrap>.menu-box>.list-box>ul>li>.list-box2 {
    width: 955%;
    opacity: 0;
    position: absolute;
    top: 74%;
    left: 0;
    /* transition: all 1s; */
}

.all-wrap>.menu-wrap>.menu-box>.list-box>ul>li:hover .list-box2 {
    opacity: 1;

    transition: all 1s;
}

.item {
    opacity: 0;
    transition: 0.3s ease-in;
}

.item.active {
    opacity: 1;
}

.all-wrap>.menu-wrap>.menu-box>.list-box>ul>li>.list-box2 a {
    font-size: 1.2rem;
}

.all-wrap>.menu-wrap>.menu-box>.list-box>ul>li>.list-box2>ul>li {
    margin-right: 3%;
}

.all-wrap>.menu-wrap>.menu-box>.list-box>ul>li>.list-box2>ul>li:last-child {
    margin-right: 0;
}

/*아이콘박스*/
.all-wrap>.menu-wrap>.menu-box>.icon-box {
    width: 30%;
    height: 52%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.all-wrap>.menu-wrap>.menu-box>.icon-box>div {
    width: 30px;
    height: 30px;
    margin-right: 14%;
    cursor: pointer;
}

.all-wrap>.menu-wrap>.menu-box>.icon-box>div:first-child {
    margin-right: 10%;
}

.all-wrap>.menu-wrap>.menu-box>.icon-box>div>img {
    width: 100%;
}

.all-wrap>.menu-wrap>.menu-box>.icon-box>.search>.search-box {
    width: 0%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.445);
    border: 2px solid #fff;
    position: absolute;
    top: 170%;
    left: 0;
    font-size: 1.6rem;
    padding: 10px;
    opacity: 1;
    visibility: hidden;
    transition: 1s;
    margin-left: 17.2%;
}

.all-wrap>.menu-wrap>.menu-box>.icon-box>.search:hover>.search-box {
    width: 83%;
    opacity: 1;
    visibility: visible;
}

.all-wrap>.menu-wrap>.menu-box>.icon-box>.search>.search-box:focus,
.all-wrap>.menu-wrap>.menu-box>.icon-box>.search>.search-box:active,
.all-wrap>.menu-wrap>.menu-box>.icon-box>.search>.search-box:hover {
    outline-color: transparent;
    outline: none;
}








/*헤더*/

.all-wrap .header-wrap {
    width: 100%;
    position: relative;
}

.all-wrap .header-wrap .main-img-box img {
    width: 100%;
    display: block;
    z-index: 0;
}

.all-wrap .header-wrap .bene-t {
    width: 38%;
    height: 18%;
    top: 55%;
    right: 10%;
    position: absolute;
}

.all-wrap .header-wrap .bene-t img {
    width: 12.5%;
    opacity: 0;
    visibility: hidden;
}

.all-wrap .header-wrap .bene-t img.active2 {
    opacity: 1;
    visibility: visible;
}

.all-wrap .header-wrap .bene-t img:nth-child(1) {
    transition: 4s;
}

.all-wrap .header-wrap .bene-t img:nth-child(2) {
    transition: 4.2s;
}

.all-wrap .header-wrap .bene-t img:nth-child(3) {
    transition: 4.4s;
}

.all-wrap .header-wrap .bene-t img:nth-child(4) {
    transition: 4.8s;
}

.all-wrap .header-wrap .bene-t img:nth-child(5) {
    margin-left: -2%;
    transition: 5s;
}

.all-wrap .header-wrap .bene-t img:nth-child(6) {
    margin-left: -5%;
    transition: 5.2s;
}

.all-wrap .header-wrap .bene-t img:nth-child(7) {
    margin-left: -5%;
    transition: 5.4s;
}

.all-wrap .header-wrap .bene-t img:nth-child(8) {
    margin-left: -2%;
    transition: 5.6s;
}

.all-wrap .header-wrap .left-img-box img {
    width: 50%;
    height: 100%;
    top: 0;
    left: -20%;
    z-index: 1;
    position: absolute;
    transition: 1.5s;
    opacity: 0.7;
}

.all-wrap .header-wrap .left-img-box img.active {
    left: 0;
    opacity: 1;
}

.all-wrap .header-wrap .natural-t {
    width: 33%;
    left: -20%;
    top: 30%;
    z-index: 2;
    position: absolute;
    opacity: 0;
    transition: 1.5s;
}

.all-wrap .header-wrap .natural-t img {
    width: 100%;
}

.all-wrap .header-wrap .natural-t.active1 {
    left: 16%;
    opacity: 1;
}









/*베스트 상품*/

.all-wrap .container .best-item {
    width: 100%;
    margin: 0 auto;
}

.all-wrap .container .best-item .best-text-box {
    text-align: center;
    margin-top: 104px;
}

.all-wrap .container .best-item .best-text-box h1 {
    font-family: 'titleE';
}

.all-wrap .container .best-item .best-text-box p {
    margin-top: 12px;
}

.all-wrap .container .best-item .best-slide-wrap {
    width: 100%;
    margin-top: 45px;
    margin-bottom: 104px;
    position: relative;
}

.all-wrap .container .best-item .best-slide-wrap .best-slide {
    width: 89%;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
}


/*베스트 상품 top*/


.all-wrap .container .best-item .best-slide-wrap .best-slide .slide-img {
    width: 33%;
    height: 100%;
}

.all-wrap .container .best-item .best-slide-wrap .best-slide .slide-img .img-box {
    width: 100%;
    padding-bottom: 100%;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
}

.all-wrap .container .best-item .best-slide-wrap .best-slide .slide-img img {
    width: 100%;
    top: -6%;
    position: absolute;
}

.all-wrap .container .best-item .best-slide-wrap .best-slide .slide-img .img-box .bk {
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: 1s;
}

.all-wrap .container .best-item .best-slide-wrap .best-slide .slide-img .img-box:hover .bk {
    opacity: 1;
}

.all-wrap .container .best-item .best-slide-wrap .best-slide .slide-img .img-box p {
    font-size: 1.2rem;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    width: 100%;
    text-align: center;
    opacity: 0;
}
.all-wrap .container .best-item .best-slide-wrap .best-slide .slide-img .img-box:hover p{
    opacity: 1;
}

.all-wrap .container .best-item .best-slide-wrap .best-slide .slide-img .img-box .prize {
    font-size: 1.6rem;
    bottom: 8%;
}


/*slick-slider*/

.slick-prev:before {
    content: "";
}

.slick-btn-left {
    width: 40px;
    height: 40px;
    left: -40px;
    left: 1%;
    top: 50%;
    transform: scaleX(-1) translateY(-50%);
    position: absolute;
    cursor: pointer;
}

.slick-btn-left>img {
    width: 100%;
}

.slick-btn-right {
    width: 40px;
    height: 40px;
    right: -40px;
    right: 1%;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    cursor: pointer;
}

.slick-btn-right>img {
    width: 100%;
}

.slick-next:before {
    content: "";
}




/*플레이그린*/

.all-wrap .mid-play-green {
    width: 100%;
    min-height: 432px;
    position: relative;
}

.all-wrap .mid-play-green img {
    width: 100%;
}

.all-wrap .mid-play-green .txt-box {
    width: 100%;
    position: absolute;
    color: #fff;
    top: 19%;
    left: 50%;
    transform: translateX(-50%);
}

.all-wrap .mid-play-green .txt-box h1 {
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
    padding: 10px, 0;
}

.all-wrap .mid-play-green .txt-box p {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 20px;
    word-break: keep-all;
    padding: 0 15px;
}

.all-wrap .mid-play-green .btn-box button {
    width: 220px;
    height: 40px;
    background-color: #83ac48;
    border: none;
    position: absolute;
    left: 50%;
    bottom: 25%;
    transform: translateX(-50%);
    border-radius: 12px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 1.4rem;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.452);
}


.all-wrap .mid-play-green .btn-box button:hover {
    left: 50.2%;
    bottom: 142 px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.500);
    background-color: #79a637;
}







/*메인제품*/

.all-wrap .container .main-product-list {
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 150px;
}

.all-wrap .container .main-product-list .main-text-box {
    text-align: center;
    margin-top: 104px;
}

.all-wrap .container .main-product-list .main-text-box h1 {
    font-family: 'titleE';
}

.all-wrap .container .main-product-list .main-text-box p {
    margin-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.all-wrap .container .main-product-list .main-product-wrap {
    width: 100%;
    margin-top: 45px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.all-wrap .container .main-product-list .main-product-wrap .video-box {
    width: 34.37%;
    margin-right: 20px;
}

.all-wrap .container .main-product-list .main-product-wrap .video-box2 {
    width: 34.37%;
    margin-left: 20px;
}

.all-wrap .container .main-product-list .main-product-wrap video {
    width: 100%;
}

.all-wrap .container .main-product-list .main-product-wrap .product-box {
    width: 64%;
}

.all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-t {
    width: calc(32.9% - 20px / 2);
    height: 407px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    border: 1px solid rgba(153, 153, 153, 0.479);
}

.all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-t:nth-child(3) {
    margin-right: 0;
}

.all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-b {
    width: calc(32.9% - 20px / 2);
    height: 47%;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    border: 1px solid rgba(153, 153, 153, 0.479);
}

.all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-b:last-child {
    margin-right: 0;
}

.all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box>img {
    width: 100%;
    top: 10%;
    position: absolute;
}

.all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box:hover>.c1 {
    background-color: #b0d9c9;
}

.all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box:hover>.c2 {
    background-color: #b4d959;
}

.all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box:hover>.c3 {
    background-color: #f2ebdb;
}

.all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box>.bk {
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: 1s;
}

.all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box:hover>.bk {
    opacity: 1;
}

.all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box>p {
    width: 100%;
    font-size: 1.2rem;
    position: absolute;
    bottom: 21%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: black;
}

.all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box:hover>p {
    color: #fff;
}

.all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box>.prize {
    font-size: 1.6rem;
    bottom: 14%;
}

.all-wrap .container .main-product-list .view-more {
    width: 110px;
    height: 35px;
    background-color: black;
    color: #fff;
    margin-top: 35px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    border: none;
}


.all-wrap .container .main-product-list .main-product-wrap .video-box3{
    visibility: hidden;
    display: none;
}







/*푸터*/

.footer {
    width: 100%;
    margin: 0 auto;
    background-color: #a79d84;
}

.footer .footer-box {
    width: 100%;
    height: 290px;
}

.footer .footer-box .footer-top {
    width: 100%;
    height: 90px;
    border-bottom: 2px solid #faf2e0;
    position: relative;
}

.footer .footer-box .footer-top .logo-box {
    width: 154px;
    height: 54px;
}

.footer .footer-box .footer-top .logo-box img {
    width: 12%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.footer .footer-box .footer-top h1 {
    text-align: center;
    line-height: 90px;
    margin-left: 40px;
    color: #faf2e0;
    font-size: 1.3rem;
    cursor: pointer;
}

.footer .footer-box .footer-bottom {
    width: 100%;
    margin-top: 25px;
    color: #fff;
}

.footer .footer-box .footer-bottom .footer-left {
    width: 70%;
}

.footer .footer-box .footer-bottom .footer-left p {
    font-size: 1.2rem;
}

.footer .footer-box .footer-bottom .footer-left p:last-child {
    margin-top: 20px;
}

.footer .footer-box .footer-bottom .footer-right {
    width: 30%;
    right: 0;
}

.footer .footer-box .footer-bottom .footer-right h1 {
    font-size: 1.2rem;
}

.footer .footer-box .footer-bottom .footer-right .margin {
    margin-left: 59px;
}

.footer .footer-box .footer-bottom .footer-right .icon-box {
    width: 62%;
    margin-top: 25px;
}

.footer .footer-box .footer-bottom .footer-right .icon-box .icon {
    width: 30px;
    margin-right: 20px;
}

.footer .footer-box .footer-bottom .footer-right .icon-box .icon img {
    width: 100%;
    cursor: pointer;
}


/*햄버거메뉴*/
    .all-wrap .ham-menu-wrap .logo-box{
        visibility: hidden;
        display: none;
        width: 154px;
        height: 57px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        transition: 1s;
    }
    .all-wrap .ham-menu-wrap .ham-menu {
    display: block;
    width: 32px;
    height: 35px;
    position: absolute;
    top: 30px;
    right: 10px;
    transform: translateY(-50%);
    box-sizing: border-box;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
}

.all-wrap .ham-menu-wrap .ham-menu span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 6px;
    transition: transform 0.5s, opacity 0.5s;
}

.all-wrap .ham-menu-wrap .ham-menu span:first-child {
    margin-top: 6px;
}

.all-wrap .ham-menu-wrap .ham-menu.active9 span:nth-child(1) {
    transform: translateY(1px) rotate(45deg);
}

.all-wrap .ham-menu-wrap .ham-menu.active9 span:nth-child(2) {
    opacity: 0;
}

.all-wrap .ham-menu-wrap .ham-menu.active9 span:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
}

.all-wrap .ham-list {
    width: 40%;
    height: 100%;
    background-color: #83ac48;
    right: -40%;
    top: 0;
    position: fixed;
    z-index: 99;
    transition: 1s;
    overflow-y: scroll;
    overflow-x: hidden;
}
.all-wrap .ham-list{overflow: scroll; -ms-overflow-style: none;} /*for ie*/
.all-wrap .ham-list::-webkit-scrollbar{display:none;}

.all-wrap .ham-list.active10 {
    right: 0;
    transition: 1s;
}

.all-wrap .ham-list .top-txt {
    width: 100%;
    margin-top: 50px;
}

.all-wrap .ham-list .top-txt p {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 800;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.all-wrap .ham-list .top-txt p:first-child {
    margin-left: 14%;
}

.all-wrap .ham-list .top-txt p:last-child {
    margin-right: 14%;
}

.all-wrap .ham-list .top2-txt {
    width: 100%;
    margin-top: 20px;
    margin-left: 40px;
}

.all-wrap .ham-list .top2-txt p {
    color: #fff;
    font-size: 1.1rem;
}

.all-wrap .ham-list .top2-txt .gray {
    color: #f0ff72f2;
}

.all-wrap .ham-list .top3-txt {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.all-wrap .ham-list .top3-txt p {
    color: #fff;
    font-size: 1.1rem;
}

.all-wrap .ham-list .top3-txt .gray {
    color: #f0ff72f2;
}

.all-wrap .ham-list .serch-box {
    width: 80%;
    height: 30px;
    margin-left: 10%;
    border-bottom: 1px solid #fff;
}

.all-wrap .ham-list .serch-box input {
    width: 85%;
    height: 100%;
    background-color: inherit;
    border: none;
}

.all-wrap .ham-list .serch-box .img-box {
    width: 20px;
    height: 20px;
    float: right;
}

.all-wrap .ham-list .serch-box .img-box img {
    width: 100%;
}

.all-wrap .ham-list .list-box {
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.6rem;
    color: #fff;
}

.all-wrap .ham-list .list-box ul li .list-arrow {
    width: 100%;
    height: 100%;
}

.all-wrap .ham-list .list-box ul li .list-arrow .arrow {
    width: 20px;
    height: 20px;
    float: right;
}

.all-wrap .ham-list .list-box ul li .list-arrow .arrow img {
    width: 100%;
}

.all-wrap .ham-list .list-box ul li .list-box2 {
    font-size: 1.3rem;
    transition: 1s;
}

.all-wrap .ham-list .list-box ul li .list-box2 ul {
    height: 0px;
    overflow: hidden;
    transition: 0.2s;
}

.all-wrap .ham-list .list-box ul li .list-box2 ul li {
    height: 25%;
}

.all-wrap .ham-list .list-box ul li.active10 .list-box2 ul {
    height: 100px;
    transition: 0.2s;
}
.all-wrap .ham-list .list-box .bt-txt-box{
    margin-top: 40px;
    font-size: 1.18rem;
}
.all-wrap .ham-list .list-box .bt-txt-box .mar{
    margin-right: 10px;
}
.all-wrap .ham-list .list-box .bt-txt-box .mar2{
    margin-right: 20px;
}
.all-wrap .ham-list .list-box .icon-box{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}
.all-wrap .ham-list .list-box .icon-box .icon{
    width: 15%;
}
.all-wrap .ham-list .list-box .icon-box .icon img{
    width: 100%;
}



/* 반응형 */

@media(max-width:1239px){
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-t {
        width: calc(31.9% - 20px / 2);
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-b {
        width: calc(31.9% - 20px / 2);
    }
}

@media(max-width:1200px) {
    .all-wrap .menu-wrap .menu-box .list-box {
        margin-left: 25px;
    }

    .all-wrap>.menu-wrap>.menu-box>.list-box>ul {
        width: 115%;
    }
    .all-wrap>.menu-wrap>.menu-box>.icon-box>div{
        width: 28px;
        height: 28px;
    }
    .all-wrap>.menu-wrap>.menu-box>.list-box>ul>li>.list-box2 a{
        font-size: 1.1rem;
    }

    .all-wrap>.menu-wrap>.menu-box>.list-box>ul>li {
        margin-right: 28px;
    }

    .all-wrap .mid-play-green .btn-box button {
        width: 200px;
        height: 36px;
        bottom: 68px;
    }

    .all-wrap .container .main-product-list .main-product-wrap .video-box {
        height: 615px;
    }

    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-t,
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-b {
        height: 350px;
        margin-bottom: 15px;
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box>img {
        width: 85%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
    }

    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-t:nth-child(3) {
        margin-right: 20px;
    }

    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-t {
        width: calc(50% - 20px / 2);
    }

    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-b {
        width: calc(50% - 20px / 2);
    }


    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box>p {
        bottom: 12%;
    }

    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box>.prize {
        bottom: 5%;
    }


    .all-wrap .container .main-product-list .view-more1 {
        left: 17.2%;
        top: 82.7%;
    }

    .all-wrap .container .main-product-list .view-more2 {
        left: 83%;
        top: 82.7%;
    }

    .footer .footer-box .footer-top .logo-box {
        margin-left: 10px;
    }

    .footer .footer-box .footer-bottom .footer-left p {
        font-size: 1.1rem;
        margin-left: 10px;
    }

    .footer .footer-box .footer-bottom .footer-right .icon-box {
        width: 100%;
    }   
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box2{
        margin-right: 0;
    }
    .all-wrap .container .best-item .best-slide-wrap .best-slide .slide-img .img-box p{
        bottom: 30px;
    }
    .all-wrap .container .best-item .best-slide-wrap .best-slide .slide-img .img-box .prize{
        bottom: 6px;
    }
    .all-wrap .container .best-item .best-slide-wrap .best-slide .slide-img img{
        top: -2%;
    }
    .all-wrap .mid-play-green img{
    width: 150%;
    position: absolute;
    left: 50%;
    transform: translateX(-43%);
    }
}

/*1024px*/

@media (max-width : 1023px) {
    .all-wrap .mid-play-green .txt-box {
        top: 15%;
    }

    .all-wrap .mid-play-green .txt-box h1 {
        font-size: 2.5rem;
    }

    .all-wrap .mid-play-green .txt-box p {
        font-size: 1.4rem;
        margin-top: 42px;
    }

    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-t {
        width: calc(50% - 20px / 2);
    }

    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-b {
        width: calc(50% - 20px / 2);
    }

    .footer .footer-box .footer-top .logo-box {
        width: 110px;
    }

    .footer .footer-box .footer-top h1 {
        margin-left: 20px;
        font-size: 1.1rem;
    }

    .footer .footer-box .footer-bottom .footer-left {
        width: 100%;
    }

    .footer .footer-box .footer-bottom .footer-left p {
        font-size: 1rem;
    }

    .footer .footer-box .footer-bottom .footer-right .icon-box {
        width: 100%;
    }

    .footer .footer-box .footer-bottom .footer-right .icon-box .icon {
        width: 33px;
    }
    .footer .footer-box .footer-bottom .footer-right{
        visibility: hidden;
        display: none;
    }

    .all-wrap .container .best-item .best-slide-wrap .best-slide .slide-img img {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }

    .all-wrap .container .best-item .best-slide-wrap .best-slide .slide-img .img-box p {
        width: 100%;
        text-align: center;
        bottom: 20%;
    }

    .all-wrap .container .best-item .best-slide-wrap .best-slide .slide-img .img-box .prize {
        bottom: 10%;
    }

    .all-wrap .menu-wrap .menu-box .list-box {
        visibility: hidden;
    }

    .all-wrap>.menu-wrap>.menu-box>.icon-box {
        visibility: hidden;
    }

    .all-wrap .menu-wrap {
        border-bottom: none;
        position: fixed;
        background-color: #0000001f;
        height: 10%;
    }

    .all-wrap .menu-wrap .menu-box .logo-box {
        visibility: hidden;
        display: none;
    }

    .all-wrap .menu-wrap .menu-box .b-box {
        visibility: visible;
    }
    .all-wrap .ham-menu-wrap{
        width: 100%;
        height: 10%;
        top: 0;
        position: fixed;
        z-index: 999;
    }

    .all-wrap .ham-menu-wrap .logo-box{
        visibility: visible;
        display: block;
    }
    .all-wrap .ham-menu-wrap .logo-box img{
        width: 100%;
    }
    .all-wrap .ham-menu-wrap .ham-menu {
        visibility: visible;
        opacity: 1;
    }
    .all-wrap .mid-play-green{
        min-height: 295px;
    }
    .all-wrap .mid-play-green img{
        width: 137%;
    }
    .all-wrap .container .best-item .best-text-box{
        margin-top: 75px;
    }
    .all-wrap .container .best-item .best-slide-wrap{
        margin-bottom: 75px;
    }
    .all-wrap .container .main-product-list{
        margin-bottom: 75px;
    }
    .all-wrap .mid-play-green .btn-box button{
        bottom: 35px;
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-t, .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-b{
        height: 375px;
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box>img{
        width: 100%;
    }

}

@media (max-width : 775px){
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box>img {
        width: 100%;
        top: 7%;
    }
}

/*768px*/

@media (max-width : 767px) {
    
    .slick-btn-left, .slick-btn-right{
        width: 5%;
    }
    .title-txt{
        font-size: 3rem;
    }
    .title-b-txt {
        font-size: 1.3rem;
    }
    .all-wrap .ham-menu-wrap .logo-box.active99{
        opacity: 0;
        transition: 1s;
    }
    .all-wrap .mid-play-green img{
        height: 269px;
    }
    .all-wrap .mid-play-green .txt-box h1{
        font-size: 2rem;
    }
    .all-wrap .mid-play-green .txt-box p{
        font-size: 1.2rem;
        margin-top: 15px;
    }
    .all-wrap .mid-play-green .btn-box button {
        width: 150px;
        height: 30px;
        bottom: 12%;
        font-size: 1.2rem;
    }
    .all-wrap .container .main-product-list .main-product-wrap{
        margin-top: 20px;
    }
    .all-wrap .container .main-product-list .main-product-wrap .video-box {
        height: 195px;
        overflow: hidden;
        width: 100%;
        margin-right: 20px;
        position: relative;
    }
    .all-wrap .container .main-product-list .main-product-wrap .video-box2{
        visibility: hidden;
        display: none;
    }
    .all-wrap .container .main-product-list .main-product-wrap .video-box3 {
        height: 195px;
        overflow: hidden;
        width: 100%;
        margin-right: 0;
        position: relative;
        visibility: visible;
        display: block;
    }
    .all-wrap .container .main-product-list .main-product-wrap .video1 {
        width: 100%;
        top: -209%;
        position: absolute;
    }
    .all-wrap .container .main-product-list .main-product-wrap .video2 {
        width: 100%;
        top: -290%;
        position: absolute;
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box {
        width: 100%;
        margin-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-t {
        width: calc(50% - 20px / 2);
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-b {
        width: calc(50% - 20px / 2);
    }
    .all-wrap .container .main-product-list .view-more{
        left: 50%;
        top: 98%;
        transform: translateX(-50%);
    }
    .all-wrap .container .main-product-list .main-product-wrap {
        width: 100%;
        margin-top: 20px;
        display: block;
    }
    .footer .footer-box .footer-top .logo-box {
        width: 20%;
    }
    .footer .footer-box .footer-top .logo-box img{
        width: 20%;
    }
    .footer .footer-box .footer-top h1{
        margin-left: 7px;
        font-size: 1.1rem;
    }
    .footer .footer-box .footer-top h1:nth-child(4){
        display: none;
    }
    .footer .footer-box{
        height: 260px;
    }
    .all-wrap .ham-list{
        width: 60%;
        right: -60%;
    }
    .all-wrap .ham-list .list-box .icon-box .icon{
        width: 13%;
    }
    .all-wrap .container .main-product-list .main-product-wrap{
        padding-left: 0;
        padding-right: 0;
    }
    .all-wrap .ham-list .top-txt p:first-child{
        margin-left: 10%;
    }
    .all-wrap .ham-list .top-txt p:last-child{
        margin-right: 10%;
    }
    .all-wrap .container .best-item .best-text-box , .all-wrap .container .best-item .best-slide-wrap{
        margin-top: 40px;
    }
    .all-wrap .mid-play-green {
        min-height: 269px;
    }
    .all-wrap .container .best-item .best-slide-wrap .best-slide .slide-img .img-box p{
        font-size: 1.1rem;
    }
    .all-wrap .container .best-item .best-slide-wrap .best-slide .slide-img .img-box p{
        bottom: 33px;
    }
    .all-wrap .container .best-item .best-slide-wrap .best-slide .slide-img .img-box .prize{
        bottom: 10px;
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box>p{    bottom: 53px;
        bottom: 22px;
        min-height: 41px;
        word-break: break-all;
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box>.prize{
        bottom: 0px;
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box>img{
        top: 0;
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-t, .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-b{
        height: 427px;
    }
    .all-wrap .header-wrap .main-img-box img{
        width: 112%;
    }
    .all-wrap .ham-list .list-box .icon-box .icon{
        width: 10%;
    }
}

@media (max-width : 655px){
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-t, .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-b{
        height: 374px;
    } 
    .all-wrap .mid-play-green img{
        width: 214%;
    }
    .footer .footer-box{
        height: 300px;
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box>.fd{
        width: 95%;
    }
    .all-wrap .ham-menu-wrap .logo-box{
        width: 140px;
        top: 60%;
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box>p{
        bottom: 40px;
        padding: 0 15px;
    }
    .all-wrap .header-wrap .bene-t{
        width: 40%;
        right: 7%;
    }
    .all-wrap .header-wrap .natural-t{
        width: 35%;
    }
    .all-wrap .header-wrap .natural-t.active1{
        left: 13%;
    }
}

/*766 / 451px*/

@media (max-width : 450px) {
    .all-wrap .mid-play-green .txt-box h1{
        font-size: 1.6rem;
    }
    .all-wrap .mid-play-green .txt-box p{
        font-size: 1rem;
    }
    .footer .footer-box{
        height: 330px;
    }
    .all-wrap .container .main-product-list .main-product-wrap .video2{
        top: -252%;
    }
    .all-wrap .ham-list{
        width: 60%;
        right: -60%;
    }
    .all-wrap .ham-list .top-txt p{
        font-size: 1.2rem;
    }
    .all-wrap .ham-list .top-txt p:first-child{
        margin-left: 10%;
    }
    .all-wrap .ham-list .top-txt p:last-child{
        margin-right: 10%;
    }
    .all-wrap .ham-list .top2-txt, .all-wrap .ham-list .top3-txt{
        margin-left: 20%;
    }
    .all-wrap .ham-list .serch-box .img-box{
        width: 17px;
    }
    .all-wrap .ham-list .serch-box .img-box img{
        width: 110%;
    }
    .all-wrap .ham-list .list-box{
        font-size: 1.6rem;
        margin-left: 18px;
        margin-right: 15px;
    }
    .all-wrap .ham-list .list-box ul li .list-arrow .arrow{
        width: 15px;
    }
    .all-wrap .ham-list .list-box ul li .list-box2{
        font-size: 1.3rem;
    }
    .all-wrap .ham-list .list-box .bt-txt-box{
        font-size: 1.12rem;
    }
    .all-wrap .ham-list .list-box .bt-txt-box .mar, .all-wrap .ham-list .list-box .bt-txt-box .mar2{
        font-weight: 800;
    }
    .all-wrap .ham-list .list-box .icon-box .icon{
        width: 12%;
    }
    .all-wrap .ham-list .top-txt{
        margin-top: 20%;
    }
    .slick-btn-left, .slick-btn-right{
        width: 6%;
    }
    
    .all-wrap .ham-list .top-txt p{
        font-size: 1.5rem;
    }
    .all-wrap .ham-list .top2-txt p, .all-wrap .ham-list .top3-txt p{
        font-size: 1.3rem;
    }
    .all-wrap .mid-play-green{
        min-height: 212px;
    }
    .all-wrap .mid-play-green img{
        height: 212px;
    }
    .all-wrap .container .main-product-list .main-product-wrap .video-box{
        height: 165px;
    }
    .all-wrap .container .main-product-list .main-text-box{
        margin-top: 95px;
    }
    .all-wrap .container .main-product-list .mk{
        margin-top: 142px;
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-t, .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-b {
        height: 287px;
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-t {
        width: calc(50% - 10px / 2);
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-t{
        margin-right: 10px;
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-t:nth-child(3){
        margin-right: 10px;
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box2{
        margin-right: 0;
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box{
        padding-right: 10px;
        padding-left: 10px;
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box>.fd{
        width: 95%;
    }
    .footer .footer-box .footer-top h1{
        font-size: 0.9rem;
    }
    .all-wrap .container .best-item .best-slide-wrap .best-slide .slide-img .img-box p {
        bottom: 48px;
        font-size: 1.4rem;
    }
    .all-wrap .container .best-item .best-slide-wrap .best-slide .slide-img .img-box .prize {
        bottom: 20px;
    }
    .all-wrap .container .best-item .best-slide-wrap .best-slide .slide-img .img-box {
        width: 90%;
        padding-bottom: 90%;
    }
    .all-wrap .ham-menu-wrap .logo-box{
        width: 120px;
    }
}

/*450 /366px*/

@media (max-width : 365px) {
    .all-wrap .container .best-item .best-slide-wrap .best-slide{
        width: 80%;
    }
    .all-wrap .container .best-item .best-slide-wrap .best-slide .slide-img .img-box p{
        bottom: 11%;
    }
    .all-wrap .container .best-item .best-slide-wrap .best-slide .slide-img .img-box .prize{
        bottom: 2%;
    }
    .all-wrap .mid-play-green img{
        width: 175%;
    }
    .all-wrap .container .best-item .best-slide-wrap .best-slide .slide-img img{
        top: 0;
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-t , .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-b{
        width: calc(50% - 5px / 2);
        height: 215px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box2{
        margin-right: 0;
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-t:nth-child(3){
        margin-right: 5px;
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box>p{
        bottom: 20%;
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box>.prize{
        bottom: 1%;
    }
    .all-wrap .container .main-product-list .main-product-wrap .video2{
        top: -210%;
    }
    .all-wrap .ham-list{
        width: 75%;
        right: -75%;
    }
    .all-wrap .ham-list .top-txt p:last-child{
        margin-right: 10%;
    }
    .all-wrap .ham-list .top-txt p:first-child{
        margin-left: 10%;
    }
    .all-wrap .ham-list .serch-box .img-box{
        width: 15px;
    }
    .all-wrap .mid-play-green img{
        width: 195%;
    }
    .footer .footer-box .footer-top .logo-box{
        margin-left: 5px;
    }
    .footer .footer-box .footer-top h1{
        margin-left: 4px;
    }
    .all-wrap .ham-list .list-box .bt-txt-box .mar, .all-wrap .ham-list .list-box .bt-txt-box .mar2{
        width: 100%;
    }
    .all-wrap .ham-list .list-box .bt-txt-box{
        font-size: 1.2rem;
    }
    .all-wrap .ham-list .list-box .icon-box .icon{
        width: 11%;
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box>p{
        font-size: 1.11rem;
        bottom: 16%;
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box{
        padding-left: 5px;
        padding-right: 5px;
    }
    .all-wrap .header-wrap .natural-t{
        width: 37%;
    }
    .all-wrap .header-wrap .natural-t.active1{
        left: 11%;
    }
    .all-wrap .header-wrap .bene-t{
        width: 43%;
        right: 5%;
    }
    .all-wrap .ham-menu-wrap .logo-box{
        width: 110px;
    }
    .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-t, .all-wrap .container .main-product-list .main-product-wrap .product-box>.img-box-b{
        height: 257px;
    }
}

@media (max-width : 342px){
    .footer .footer-box .footer-top h1{
        font-size: 0.8rem;
    }
}
/*(360/320)*/

/*자바 767부터 왜 안되지???엿먹던가ㅜ~*/